
// verbose_modules.config
process {

    // Override default publish behavior to include all intermediate outputs,
    // here we use parameter publish_dir_mode.
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    // Spectra conversion and preprocessing
    withName: '.*:THERMORAWFILEPARSER' {
        publishDir = [
            path: { "${params.outdir}/spectra/thermorawfileparser" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:(MZML_INDEXING|SPECTRUM_FEATURES|MZML_STATISTICS)' {
        publishDir = [
            path: { "${params.outdir}/spectra/${task.process.tokenize(':')[-1].toLowerCase()}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    // DIA-NN preprocessing steps
    withName: '.*:PRELIMINARY_ANALYSIS' {
        publishDir = [
            path: { "${params.outdir}/diann_preprocessing/preliminary_analysis" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:INDIVIDUAL_ANALYSIS' {
        publishDir = [
            path: { "${params.outdir}/diann_preprocessing/individual_analysis" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    // DIA-NN library generation
    withName: '.*:ASSEMBLE_EMPIRICAL_LIBRARY' {
        publishDir = [
            path: { "${params.outdir}/library_generation/assemble_empirical_library" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:INSILICO_LIBRARY_GENERATION' {
        publishDir = [
            path: { "${params.outdir}/library_generation/insilico_library_generation" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    // DIA-NN configuration
    withName: '.*:GENERATE_CFG' {
        publishDir = [
            path: { "${params.outdir}/sdrf" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
