/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for testing skip_preliminary_analysis path
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Tests the pipeline with skip_preliminary_analysis=true, using default
    mass accuracy parameters. Validates the untested code path in dia.nf.

    Use as follows:
        nextflow run bigbio/quantmsdiann -profile test_dia_skip_preanalysis,docker [--outdir <OUTDIR>]

------------------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '12.GB',
        time: '48.h'
    ]
}

params {
    config_profile_name        = 'Test profile for skip preliminary analysis'
    config_profile_description = 'Tests skip_preliminary_analysis path with default mass accuracy params.'

    outdir = './results_skip_preanalysis'

    // Input data - same as test_dia
    input = 'https://raw.githubusercontent.com/bigbio/quantms-test-datasets/quantms/testdata/dia_ci/PXD026600.sdrf.tsv'
    database = 'https://raw.githubusercontent.com/bigbio/quantms-test-datasets/quantms/testdata/dia_ci/REF_EColi_K12_UPS1_combined.fasta'
    min_pr_mz = 350
    max_pr_mz = 950
    min_fr_mz = 500
    max_fr_mz = 1500
    min_peptide_length = 15
    max_peptide_length = 30
    max_precursor_charge = 3
    allowed_missed_cleavages = 1
    diann_normalize = false
    publish_dir_mode = 'symlink'
    max_mods = 2

    // Skip preliminary analysis - use default mass accuracy params
    skip_preliminary_analysis = true
    mass_acc_ms2 = 15
    mass_acc_ms1 = 15
    scan_window = 8
}
