/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Local container overrides for testing with dev builds of sdrf-pipelines and quantms-utils.
    Uses docker.io/ prefix to prevent quay.io registry from being prepended.
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {
    withName: 'SDRF_PARSING' {
        container = 'docker.io/local/sdrf-pipelines:dev'
    }
    withName: 'DIANN_MSSTATS' {
        container = 'docker.io/local/quantms-utils:dev'
    }
}
